
// Base styles
body {
  font-family: Arial, sans-serif;
  background-color: rgb(23, 39, 51);
}

// Header styles
.app-header {
  background-color: rgb(23, 39, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-size: 49px;
  color: white;

  small {
    color: rgb(145, 154, 161);
    font-size: 30px;
  }
}

// Film item styles
.film-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.film-item {
  background-color: #034b57;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  p {
    margin: 10px 0;
    font-size: 1rem;
    color: white;
  }
}

